table {
    border-collapse: collapse;
}

table th, 
table td {
    border: 2px solid cyan;
    padding: 5px 10px;
}

button.primary {
    border: none;
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    padding: 8px 20px;
    font-weight: bold;
    margin-bottom: 10px;
    transition: all .2s;
}

button.primary:hover {
    background-color: blueviolet;
    cursor: pointer;
}

.blur {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

form {
    /* display: none; */
    
    background-color: white;
    padding: 20px;
    border-radius: 10px;

    width: 40%;
    position: absolute;
    top: 15%;
    left: calc((100vw - 40%) / 2);
}

form h3 {
    margin-top: 0;
    padding-bottom: 10px;
    text-align: center;
    font-size: 1.4rem;
    border-bottom: 1px solid gray;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    align-items: center;

    margin-bottom: 20px;
}

.form-row label {
    justify-self: end;
    font-weight: bold;
}

.form-row input {
    height: 22px;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 0 10px;
}

.form-row select {
    height: 22px;
    cursor: pointer;
    background-color: white;
    border: 1px solid blue;
    border-radius: 5px;
}

.form-row .error {
    grid-column: 2 / 3;
    font-size: 0.8rem;
    color: red;
    height: 10px;
}

.form-buttons {
    padding-top: 10px;
    text-align: right;
}